In [3]:
import pandas as pd

titles = [
    "World Briefings", 
    "Nvidia Puts a Firewall on a Motherboard (PC World)",
    "Olympic joy in Greek, Chinese press",
    "U2 Can iPod with Pictures",
    "The Dream Factory",
    "Fierce clashes kill three US soldiers, injure 14 in Afghanistan",
    "US-EU talks on Airbus subsidies fail",
    "Aussie alive after capture in Iraq",
    "Israeli Helicopter Fires Missile in Gaza -Witnesses",
    "Ballmer: We need a \$100 PC"
]

df = pd.DataFrame(data=[{"title": t} for t in titles])

In [4]:
df.head()

                                               title
0                                    World Briefings
1  Nvidia Puts a Firewall on a Motherboard (PC Wo...
2                Olympic joy in Greek, Chinese press
3                          U2 Can iPod with Pictures
4                                  The Dream Factory

In [5]:
from main import get_embedding

df["embedding"] = df["title"].apply(lambda x: get_embedding(x))

In [6]:
from main import vector_search

embeddings = df["embedding"].to_list()

In [15]:
near_index = vector_search(query="iPod with Pictures",embeddings=embeddings)

In [16]:
df.iloc[near_index]

,title,embedding
3,U2 Can iPod with Pictures,"[-0.020233619958162308, -0.016979355365037918,..."
4,The Dream Factory,"[-0.024849098175764084, -0.027221424505114555,..."
8,Israeli Helicopter Fires Missile in Gaza -Witn...,"[-0.025673702359199524, -0.015608667396008968,..."